@model IEnumerable<TodoMVC.Models.Drive>

@{
    ViewData["Title"] = "Joined Drives";
}

<script>
    function LeaveDrive(driveId) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                var pId = "p" + driveId;
                var btnId = "btn" + driveId;
                document.getElementById(pId).innerHTML = "You left the drive";
                document.getElementById(btnId).classList.add("hide");
            }
        };
        var uri = "https://localhost:44318/api/drive/" + driveId + "/" + @TempData.Peek("userId") + "/leave";
        xhttp.open("POST", uri, true);
        xhttp.send();
    }
</script>

<h2>Joined Drives</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Driver Name
            </th>
            <th>
                Location
            </th>
            <th>
                Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Driver.Name
                </td>
                <td>
                    @item.Dest.Name
                </td>
                @if (item.IsPickup)
                {
                    <td>
                        Pickup
                    </td>
                }
                else
                {
                    <td>
                        Join
                    </td>
                }
                <td>
                    @item.Time
                </td>
                <td>
                    @{
                        string pId = "p" + item.Id;
                        string btnId = "btn" + item.Id;
                    }
                    <p id=@pId></p>
                    <button type="button" onclick="LeaveDrive(@item.Id)" id=@btnId>Leave</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Back to user options", "UserOptions", new { name = TempData.Peek("name") })
