@model IEnumerable<TodoMVC.Models.Drive>

@{
    ViewData["Title"] = "Drives";
}

<style>
    .button {
        background-color: #D3D3D3;
        border: groove;
        color: black;
        padding: 1px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

<script>
    function joinDrive(driveId, counter, isPickup, seats) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                var pId = "joined" + driveId;
                var btnId = "btn" + driveId;
                var countId = "count" + driveId;
                var counterUpdate;
                document.getElementById(pId).innerHTML = "Joined";
                document.getElementById(btnId).classList.add("hide");
                if (isPickup === 1) {
                    counter += 1;
                    counterUpdate =  counter + " / 12";
                } else {
                    counter += 1;
                    counterUpdate = counter + " / " + seats;
                }
                document.getElementById(countId).innerHTML = counterUpdate;
            }
        };
        var uri = "https://localhost:44318/api/drive/" + driveId + "/" + @TempData.Peek("userId");
        xhttp.open("POST", uri, true);
        //xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        //xhttp.send("fname=Henry&lname=Ford");
        xhttp.send();
    }
</script>

<h2>Drives</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Driver Name
            </th>
            <th>
                Location
            </th>
            <th>
                Type
            </th>
            <th>
                Slots
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            int ORcounter = 0;
            var clist = (List<int>)TempData["count"];
            var pickupCount = (List<int>)TempData["pickupsCount"];
            var joinedDrives = (List<int>)TempData["joinedDrives"];
            var joinedPickups = (List<int>)TempData["joinedPickups"];
            @foreach (var item in Model)
            {
                if (TempData.Peek("username").ToString() != item.Driver.Name)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Driver.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dest.Name)
                        </td>
                        @if (item.IsPickup)
                        {
                            //ORcounter++;
                            <td>
                                Pickup
                            </td>
                        }
                        else
                        {
                            <td>
                                Join
                            </td>
                        }
                        @{
                            int counter = 0;
                            int seats = 0;
                            int isPickup = 0;
                        }
                        @if (item.IsPickup)
                        {
                            isPickup = 1;
                            string line;
                            string count = "count" + item.Id;
                            if (item.OrdersReal != null)
                            {
                                line = pickupCount[ORcounter] + " / 12";
                                ORcounter++;
                            }
                            else
                            {
                                counter = 0;
                                line = counter + " / 12";
                            }
                            <td>
                                <p id=@count>@line</p>
                            </td>
                        }
                        else
                        {
                            string line;
                            string count = "count" + item.Id;
                            seats = item.Driver.Seats;
                            if (item.UsersReal != null)
                            {
                                counter = item.UsersReal.Count;
                                line = counter + " / " + seats;
                            }
                            else
                            {
                                counter = 0;
                                line = counter + " / " + seats;
                            }
                            <td>
                                <p id=@count>@line</p>
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        @{
                            bool checking = false;
                            if (isPickup == 0)
                            {
                                if (item.Driver.Seats > 0)
                                {
                                    if (item.UsersReal.Count < item.Driver.Seats)
                                    {
                                        checking = true;
                                    }
                                }
                            }
                            else
                            {
                                if (clist[ORcounter] < 12)
                                {
                                    checking = true;
                                }
                            }
                        }
                        @if (checking)
                        {
                            if (joinedDrives.Contains(item.Id) || joinedPickups.Contains(item.Id))
                            {
                                <td>Joined</td>
                            }
                            else
                            {
                                if (isPickup == 0)
                                {
                                    <td>
                                        @{
                                            string pId = "joined" + item.Id;
                                            string btnId = "btn" + item.Id;
                                        }
                                        <p id=@pId></p>
                                        <button type="button" class="button" onclick="joinDrive(@item.Id, @counter, @isPickup, @seats)" id=@btnId>Join</button>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a class="button" asp-controller="User" asp-action="MakeOrder" asp-route-destId="@item.Dest.Id" asp-route-driveId="@item.Id">Join</a>
                                    </td>
                                }
                            }
                        }
                    </tr>
                }
            }
        }
    </tbody>
</table>

@Html.ActionLink("Back to user options", "UserOptions", new { name = TempData.Peek("name") })


