@model IEnumerable<TodoMVC.Models.MenuItem>

@{
    ViewData["Title"] = "Make Order";
}

<h2>@TempData["destName"]</h2>
<h5>@TempData["destAdd"]</h5>

<form asp-action="MakeOrder">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    Qty
                </th>
                <th>
                    Message
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Cost
                    </td>
                    <td>
                        @{
                            string numberInput = "number" + item.Id;
                            string textInput = "text" + item.Id;
                        }
                        <input type="number" name=@numberInput id=@numberInput min="0" max="5" value="0">
                    </td>
                    <td>
                        <input type="text" name=@textInput id=@textInput value=" ">
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Complete Order" class="btn btn-default" />
    </div>
</form>
