@model IEnumerable<TodoMVC.Models.Drive>

@{
    ViewData["Title"] = "MyDrives";
}

<script>
    function joinDrive(driveId, counter, isPickup, seats) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                var pId = "joined" + driveId;
                var btnId = "btn" + driveId;
                var countId = "count" + driveId;
                var counterUpdate;
                document.getElementById(pId).innerHTML = "Joined";
                document.getElementById(btnId).classList.add("hide");
                if (isPickup === 1) {
                    counter += 1;
                    counterUpdate =  counter + " / 12";
                } else {
                    counter += 1;
                    counterUpdate = counter + " / " + seats;
                }
                document.getElementById(countId).innerHTML = counterUpdate;
            }
        };
        var uri = "https://localhost:44318/api/drive/" + driveId + "/" + @TempData.Peek("userId");
        xhttp.open("POST", uri, true);
        //xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        //xhttp.send("fname=Henry&lname=Ford");
        xhttp.send();
    }
</script>

<h2>Drives</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Location
            </th>
            <th>
                Type
            </th>
            <th>
                Slots
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            int ORcounter = 0;
            var clist = (List<int>)TempData["count"];
            @foreach (var item in Model)
            {
                if (TempData.Peek("username").ToString() == item.Driver.Name)
                {
                    <tr>
                        <td>
                            @item.Dest.Name
                        </td>
                        @if (item.IsPickup)
                        {
                            ORcounter++;
                            <td>
                                Pickup
                            </td>
                        }
                        else
                        {
                            <td>
                                Join
                            </td>
                        }
                        @{
                            int counter = 0;
                            int seats = 0;
                        }
                        @if (item.IsPickup)
                        {
                            string line;
                            string count = "count" + item.Id;
                            if (item.OrdersReal != null)
                            {
                                line = clist[ORcounter] + " / 12";
                            }
                            else
                            {
                                counter = 0;
                                line = counter + " / 12";
                            }
                            <td>
                                <p id=@count>@line</p>
                            </td>
                        }
                        else
                        {
                            string line;
                            string count = "count" + item.Id;
                            seats = item.Driver.Seats;
                            if (item.UsersReal != null)
                            {
                                counter = item.UsersReal.Count;
                                line = counter + " / " + seats;
                            }
                            else
                            {
                                counter = 0;
                                line = counter + " / " + seats;
                            }
                            <td>
                                <p id=@count>@line</p>
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsPickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPickup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
            </tr>
        }
    </tbody>
</table>*@


@Html.ActionLink("Back to user options", "UserOptions", new { name = TempData.Peek("name") })